.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.Header {
  background-color: darkred;
}
.Headline {
  color: cornsilk;
  text-align: left;
}

.Headline h1 {
  font-size: xx-large;
  font-weight: bold;
}

.Headline h2 {
  font-size: medium;
}

.SaleItem .header {
  white-space: nowrap;
}

.SaleItem .header img {
  width: 128px;
  height: 96px;
}

.SaleItem .header .price {
  text-align: right;
  font-weight: bold;
  color: darkred;
}
